<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <a routerLink="/knjizare" class="nav-link" ><img src="../../../../assets/images/background/knjiga2.jpg" alt="Slika knjige" class="img-fluid"></a>
    </div>
    <div class="col-md-6 bg-white rounded p-4"
     style="filter: drop-shadow(0px 5px 5px rgba(255, 165, 0, 0.5));
     border-radius: 10rem ;">
      <h3>Kako su to ljudi opisali:</h3>
      <p style="font-style: italic; margin-top: 20px;">Svaka knjiga je novi korak, putovanje u nepoznate predele mašte. Čitajući, uranjamo u dubine ljudskih iskustava, preobražavamo se u junake i svedoke dalekih vremena.

        Reči su poput čarobnih četkica, bojeći platno naše duše raznobojnim pričama. Razum se budi, srce se otvara, a duša se hrani mudrošću skrivenom u bezbrojnim znakovima.
        
        Čitanje je ključ koji otvara bravu bezbrojnim svetovima. To je poziv na avanturu, putovanje u dubine sebe i susret sa besmrtnim idejama.
        
        U tišini sobe, uz šum okrenutih stranica, čitanje budi vatru u nama. Podstiče znatiželju, rađa nova pitanja i potiče nas da preispitujemo svet oko sebe.
        
        Čitanje je ples koji traje celi život. To je putovanje bez kraja, putovanje koje nas obogaćuje, oplemenjuje i čini nas boljim ljudima.</p>
    </div>
  </div>
</div>
<div class="footer">
  <p>Prod by Antonije Mišić &trade;</p>
</div>
